<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Lesson20">
    <test name="lesson20">
        <classes>

        </classes>
    </test>
    <test name="lesson21">
        <classes>

        </classes>
    </test>

    <suite-files>
        <suite-file path="testng.xml"/>
    </suite-files>
</suite>

